<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <script src="/js/functions.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-heading">                
                                <h3><span class="glyphicon glyphicon-globe text-success"></span> XWS 2015 Client</h3>
                                <h4 th:text="${message}"></h4>
                                <h4 class="text-danger" th:text="${status}"></h4>
                                <h4 class="text-danger" th:text="${description}"></h4>
                                <h4 class="text-danger" th:text="${timestamp}"></h4>
                            </div>            
                        </div>
                    </div>
                </div>                
            </div>    
            <form action="/index" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Podaci o dobavljacu</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Naziv dobavljaca</label>
                                    <input type="text" class="form-control" placeholder="Unesite naziv..." name="supplierName"/>
                                </div>                
                                <div class="form-group">
                                    <label>Adresa dobavljaca</label>
                                    <input type="text" class="form-control" placeholder="Unesite adresu..." name="supplierAddress"/>
                                </div>                
                                <div class="form-group">
                                    <label>PIB dobavljaca</label>
                                    <input type="text" class="form-control" placeholder="Unesite PIB..." name="supplierPIB"/>
                                </div>   
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Podaci o kupcu</h4>
                            </div>                            
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Naziv kupca</label>
                                    <input type="text" class="form-control" placeholder="Unesite naziv..." name="buyerName"/>
                                </div>                
                                <div class="form-group">
                                    <label>Adresa kupca</label>
                                    <input type="text" class="form-control" placeholder="Unesite naziv..." name="buyerAddress"/>
                                </div>           
                                <div class="form-group">
                                    <label>PIB kupca</label>
                                    <input type="text" class="form-control" placeholder="Unesite naziv..." name="buyerPIB"/>
                                </div>                  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Podaci o trgovini</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Broj racuna</label>
                                    <input type="text" class="form-control" placeholder="Unesite racun..." name="accountNumber"/>
                                </div> 
                                <div class="form-group">
                                    <label>Datum racuna</label>
                                    <input type="date" class="form-control" placeholder="Unesite datum..." name="accountDate"/>
                                </div> 
                                <div class="form-group">
                                    <label>Vrednost robe</label>
                                    <input type="text" class="form-control" placeholder="Unesite vrednost..." name="merchValue"/>
                                </div> 
                                <div class="form-group">
                                    <label>Vrednost usluga</label>
                                    <input type="text" class="form-control" placeholder="Unesite vrednost..." name="serviceValue"/>
                                </div> 
                                <div class="form-group">
                                    <label>Ukupno roba i usluge</label>
                                    <input type="text" class="form-control" placeholder="Unesite ukupno roba i usluge..." name="merchAndServiceSum"/>
                                </div> 
                                <div class="form-group">
                                    <label>Ukupan rabat</label>
                                    <input type="text" class="form-control" placeholder="Unesite ukupan rabat..." name="rebateSum"/>
                                </div>
                                <div class="form-group">
                                    <label>Ukupan porez</label>
                                    <input type="text" class="form-control" placeholder="Unesite ukupan porez..." name="taxSum"/>
                                </div> 
                                <div class="form-group">
                                    <label>Oznaka valute</label>
                                    <select class="form-control" name="currencyCode">
                                        <option value="">-- Izaberite oznaku --</option>
                                        <option value="1">RSD</option>
                                        <option value="1">EUR</option>
                                        <option value="1">USD</option>
                                    </select>
                                </div> 
                                <div class="form-group">
                                    <label>Iznos za uplatu</label>
                                    <input type="text" class="form-control" placeholder="Unesite iznos za uplatu..." name="amountToPay"/>
                                </div> 
                                <div class="form-group">
                                    <label>Uplata na racun</label>
                                    <input type="text" class="form-control" placeholder="Unesite racun..." name="payToAccount"/>
                                </div> 
                                <div class="form-group">
                                    <label>Datum valute</label>
                                    <input type="date" class="form-control" name="dateOfCurrency"/>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-12">
                        <button class="btn btn-default" type="button" onclick="dodajStavku()"><span class="glyphicon glyphicon-plus text-success"></span> Dodaj stavku fakture</button>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="stavkeCont"></div>
                        <input type="hidden" value="" id="counter"/>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-footer text-right">
                                <button type="submit" class="btn btn-default" name="submit">Posalji</button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
    </body>
</html>